$primaryTextColor: #fd6185; 
$largeFont: 3.125rem;
$mediumFont: 1.25rem;
$smallFont: 0.75rem;
$color_infoYellow: #ffb703;
$color_textOrange: #fb8500;
$color_gray: #219ebc;
$color_lightgray: #8ecae6;
$color_darkgray: #023047;