@import "../Styles/variables";
.header {
    width: 100%;
    height: 5rem;
    background-color: $primaryTextColor;
    color: red;
    position: sticky;
    top: 0;
    h1 {
        color: white;
    }
}