@import "../Styles/variables";

.btn {
    background: $color_textOrange;
    border-radius: 3px;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: $color_darkgray;
    padding: 15px 20px;
    border: none;
    margin: 1rem;
    width: 18rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: $color_infoYellow;
    color: $color_gray;
}